name: Check style
on: [push, pull_request]
jobs:
  style:
    defaults:
      run:
        shell: bash -l {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false
      - name: Install shellcheck and checkbashisms
        run: sudo apt install shfmt shellcheck devscripts
      - name: Check style
        run: make style-check
